.button1{
    background-color: white;
    width: 250px;
    border: 2px solid #027306;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
  }

  .heading{
    font-size: 45px;
  }

  .maindiv{
    /* background-color:#00693E; */
    background-image: linear-gradient(to bottom right, rgb(1, 61, 15), rgb(19, 239, 3));
    display: flex;
    flex-direction: column;
    width: screen;
    height: screen;
    justify-content:center;

  }  
  
.super{
    font-size: 25px;
}