.description {
    margin-top: 3%;
  }
  
  .mb-3 {
   margin:2%;
  }
  
  .calculation {
    border: 2px solid green;
    padding: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    border-radius:5px;
    font-size: 20px;
  }
  
  .connectedWallet {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
  }
  
  #connectWallet {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
  }

  .buttonflow1{
    background-color: white;
    width: 550px;
    border: 2px solid #027306;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
  }
  

  .buttonflow2{
    background-color: white;
    width: 550px;
    border: 2px solid #054e08;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
  }